# Carter Minter
## Week 5 - Feb 21 2021
## Week - 6 Feb 27 2021
### Python for loops

**General for loop format**
<code>for item in object:
    statements do stuff</code>

In [2]:
sc = [68, 87, 90, 91, 92 , 99, 101, 66, 43, 55]

In [3]:
sc

[68, 87, 90, 91, 92, 99, 101, 66, 43, 55]

In [4]:
#here you can see the loop iteratied and printed each time  
for n in sc:
    print(n)

68
87
90
91
92
99
101
66
43
55

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
#only shows even
for num in sc:
    if num % 2 == 0:
        print(num)

68
90
92
66

In [8]:
for num in sc:
    if num % 2 != 0:
        print(num)

87
91
99
101
43
55

In [9]:
for num in sc:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd score!')

68
Odd score!
90
Odd score!
92
Odd score!
Odd score!
66
Odd score!
Odd score!

In [11]:
#sum of scores 

sc_sum = 0 

for n in sc: 
    sc_sum = sc_sum + n
    
print (sc_sum)

792

In [12]:
#sum of scores 
#shorthand
sc_sum = 0 

for n in sc: 
    sc_sum += n
    
print (sc_sum)

792

In [13]:
sc_sum = 0 

for n in sc: 
    sc_sum += n
    
avg = sc_sum / 10    
print (avg)

79.2

In [15]:
#pro tip use len(obj) to account for all the elements in a container 
sc_sum = 0 

for n in sc: 
    sc_sum += n
    
avg = sc_sum / len(sc)   
print (avg)

79.2

In [16]:
for letter in 'I am a student in CIS310!':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0
!

In [17]:
t = (5,2,11,13,14)

for n in t:
    print(n)

5
2
11
13
14

In [18]:
ls1 = [(10,20),(30,40), (50,60), (70,80), (90,100)]

In [19]:
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [22]:
for t in ls1:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [23]:
for (t1, t2) in ls1:
    print(t1)

10
30
50
70
90

In [24]:
for (t1, t2) in ls1:
    print(t2)

20
40
60
80
100

In [25]:
d = {'brand': "Ford", 'model':'Mustang', 'year': 1964}

In [26]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [27]:
for item in d:
    print(item)

brand
model
year

In [28]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [29]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [30]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [31]:
for keys in d:
    print(keys)

brand
model
year

In [32]:
for k,v in d.items():
    print(k)
    print(v)

brand
Ford
model
Mustang
year
1964

In [34]:
for k in d.keys():
    print(k)

brand
model
year

In [36]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [39]:
for tup in d.items():
    print(tup)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [40]:
sorted([9,2,1,3])

[1, 2, 3, 9]

In [42]:
d1 = {'k1': 5, 'k2':8, 'k3':-1, 'k4':3}

In [43]:
d1.values()

dict_values([5, 8, -1, 3])

In [45]:
sorted(d1.values())

[-1, 3, 5, 8]

In [46]:
fruits = ['Apple', 'Banana', 'Mango']

for f in fruits:
    print(f)

Apple
Banana
Mango

In [3]:
# break statement, we use to stop the loop
fruits = ['Apple', 'Grape', 'Orange', 'Banana', 'Mango']
for f in fruits:
    print (f)
    if  f == 'Banana':
        break;

Apple
Grape
Orange
Banana

In [11]:
for f in fruits:
    print (f)
    if  f == 'Orange':
        break;

Apple
Grape
Orange

In [15]:
for f in fruits:
    if  f== 'Banana':
        break;
    print(f)

Apple
Grape
Orange

In [16]:
#continue keyword

for f in fruits:
    if  f== 'Banana':
        continue;
    print(f)

Apple
Grape
Orange
Mango

In [17]:
#python built in function 
range(6)

range(0, 6)

In [18]:
for num in range (6):
    print(num)

0
1
2
3
4
5

In [19]:
for num in range (2,6):
    print(num)

2
3
4
5

In [21]:
for num in range (-1,17):
    print(num)

-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [22]:
for num in range (-1,17,2):
    print(num)

-1
1
3
5
7
9
11
13
15

In [23]:
for num in range (-1,17,2):
    print(num)
else:
    print('Finish Printing')

-1
1
3
5
7
9
11
13
15
Finish Printing

In [25]:
adj = ['red', 'small', 'large', 'tasty']
fruits = ['Apple', 'Grape', 'Orange', 'Banana', 'Mango']

for a in adj: #outer for 
    for f in fruits: #inner for 
        if a == 'red' and f == 'Banana':
            continue
        print(a,f)

red Apple
red Grape
red Orange
red Mango
small Apple
small Grape
small Orange
small Banana
small Mango
large Apple
large Grape
large Orange
large Banana
large Mango
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Mango

In [27]:
#pass 
adj = ['red', 'small', 'large', 'tasty']
fruits = ['Apple', 'Grape', 'Orange', 'Banana', 'Mango']

for a in adj: #outer for 
    for f in fruits: #inner for 
        if a == 'red' and f == 'Banana':
            pass
        else:
            print(a,f)

red Apple
red Grape
red Orange
red Mango
small Apple
small Grape
small Orange
small Banana
small Mango
large Apple
large Grape
large Orange
large Banana
large Mango
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Mango