# Carter Minter
## Week 8 - Mar 11 2021
### Python Functions Continued

In [1]:
def full_name(fname,lname):
    return fname + ' '+ lname

In [3]:
full_name('Carter', 'Minter')

'Carter Minter'

In [52]:
# lets write a program for prime numbers
# finding prime numbers 
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2, num):
        if num % n == 0:
            return str(num) + ' is not prime'
        else:
            return str(num) + ' is prime'

In [53]:
is_prime(5)

'5 is prime'

In [54]:
is_prime(100)

'100 is not prime'

In [55]:
is_prime(7)

'7 is prime'

In [76]:
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num % n == 0:
            print(num, 'is not prime')
            break
        else:
            print(num, 'is prime')

In [77]:
is_prime(2)

In [78]:
is_prime(3)

3 is prime

In [79]:
is_prime(19827362803028)

19827362803028 is not prime

In [80]:
is_prime(20)

20 is not prime

In [81]:
#I have no clue why it is doing this 
is_prime(7)

7 is prime
7 is prime
7 is prime
7 is prime
7 is prime

In [75]:
# my code isnt working properly and I have no clue why
for n in range(2, 15):
    print(n)
is_prime(15)

2
3
4
5
6
7
8
9
10
11
12
13
14
15 is prime
15 is not prime

In [82]:
#min_two_odds(3,5)--> 3
# min_two_odds(4,9)--> 9

def min_two_odds(n1,n2):
    if n1 %2 !=0 and n2 %2 != 0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [83]:
min_two_odds(3,5)

3

In [84]:
min_two_odds(14,5)

14

In [85]:
min_two_odds(14,12)

14

In [88]:
#check if two word strings start with the same letter
def two_words_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [87]:
txt = 'Python Programming'
txt.split()

['Python', 'Programming']

In [89]:
two_words_letters(txt)

True

In [90]:
txt1 = 'Carter Cares'
two_words_letters(txt1)

True

In [92]:
txt2 = 'Sutton Cares'
two_words_letters(txt2)

False

In [93]:
two_words_letters('Professor A')

False

In [94]:
#simplify the code
def two_words_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0] == wdlist[1][0]

In [95]:
txt2 = 'Sutton Cares'
two_words_letters(txt2)

False

In [96]:
txt1 = 'Carter Cares'
two_words_letters(txt1)

True

In [107]:
#create_thirty(10,20)--> True
#create_thirty(5,30) --> True
#create_thirty(5,20) --> False

#How I did it on my own
def create_thirty(n1,n2):
    if n1 == 30 or n2 == 30:   
        print(True)
    elif n1 + n2 == 30:
        print(True)
    else:
        print(False)

In [108]:
create_thirty(15,15)

True

In [109]:
create_thirty(30,15)

True

In [110]:
create_thirty(26,4)

True

In [111]:
create_thirty(26,6)

False

In [113]:
def create_thirty(n1,n2):
    if (n1 + n2) == 30:
        return True
    elif n1 == 30 or n2 ==30:
        return True
    else:
        return False

In [114]:
create_thirty(26,6)

False

In [115]:
create_thirty(24,6)

True

In [116]:
create_thirty(24,30)

True

In [117]:
create_thirty(0,30)

True

In [118]:
def create_thirty(n1,n2):
    return (n1+n2) == 30 or n1 == 30 or n2 == 30

In [119]:
create_thirty(0,30)

True

In [120]:
create_thirty(24,6)

True

In [121]:
create_thirty(24,3)

False

In [122]:
#capitalize the first and 4th letter
w = 'programming'
# 'programming'--> ProGramming
w = 'macdonald'
w.capitalize()

'Macdonald'

In [128]:
w[:3]

'mac'

In [130]:
w[:3].capitalize()

'Mac'

In [131]:
w[3:].capitalize()

'Donald'

In [132]:
part1 = w[:3].capitalize()
part2 = w[3:].capitalize()

In [133]:
part1 + part2

'MacDonald'

In [137]:
def cap_first_and_fourth(word):
    part1 = word[:3].capitalize()
    part2 = word[3:].capitalize()
    return part1 + part2

In [138]:
cap_first_and_fourth('carter')

'CarTer'

In [139]:
cap_first_and_fourth('macdonald')

'MacDonald'

In [140]:
cap_first_and_fourth('program')

'ProGram'

In [141]:
cap_first_and_fourth('cis')

'Cis'

In [142]:
def cap_first_and_fourth(word):
    if len(word) > 3:
        part1 = word[:3].capitalize()
        part2 = word[3:].capitalize()
        return part1 + part2
    else:
        return 'Sorry, the word is too short'

In [143]:
cap_first_and_fourth('cis')

'Sorry, the word is too short'

In [144]:
cap_first_and_fourth('nest')

'NesT'

In [145]:
#Reverse a statement
str1 = 'I am home'
lst = str1.split()
lst

['I', 'am', 'home']

In [148]:
lst.reverse()
lst

['home', 'am', 'I']

In [149]:
' '.join(lst)

'home am I'

In [150]:
def reverse_stmt(txt):
    lst = txt.split()
    lst.reverse()
    return ' '.join(lst)

In [151]:
reverse_stmt('CIS is Cool')

'Cool is CIS'

In [160]:
#lst.reverse()

lst1 = 'Carter is here'
lst1[::-1]

'ereh si retraC'

In [161]:
lst1[::-1]

'ereh si retraC'

In [162]:
def reverse_stmt(txt):
    #lst = txt.split()
    #lst.reverse()
    return ' '.join(txt.split()[::-1])

In [163]:
reverse_stmt('Carter is here')

'here is Carter'

In [165]:
# Check if a list as number 5 next to number 5 somewhere in the list 
#[3,4,5,5,10]--> True
#[3,4,5,6,8] --> False

def has_55(lst):
    for x in range (0,len(lst)-1):
        if lst[x] == 5 and lst[x+1] == 5:
            return True
    return False

In [166]:
has_55([3,4,5,5,10])

True

In [167]:
has_55([3,4,5,6,10])

False

In [168]:
has_55([3,5,5,6,10])

True

In [169]:
def has_55(lst):
    for x in range (0,len(lst)-1):
        #if lst[x] == 5 and lst[x+1] == 5:
        if lst [x:x+2] == [5,5]:
            return True
        
    return False

In [170]:
has_55([3,4,5,6,10])

False

In [171]:
has_55([3,4,5,5,10])

True

In [173]:
# check code 001 in a list 
# [1,4,5,0,0,1,0,5,6] --> True
# [0,1,2,3,0,4,5,9,8] --> True
#[1,5,6,0,8,9,7] --> False 

def check_for_001(lst):
    
    code = [0,0,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0) #remove the number at index 0
    return len(code) == 1

In [174]:
check_for_001([1,4,5,0,0,1,0,5,6])

True

In [176]:
check_for_001([1,0,2,5,0,6,1,8])

True

In [177]:
check_for_001([0,1,2,3,2,4,5,9,8])

False

In [178]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [179]:
code.pop(0)
code

[1, 's']

In [180]:
# Number of arguments
def full_name(fname, lname):
    print(fname + ' ' + lname)

full_name('Josh', 'Clark')

Josh Clark

In [183]:
def full_name(*names):
    if (len(names) == 1):
        print(names[0])
    else:
        print(names[0]+ ' ' +names[1])

full_name('Josh', 'Clark')

Josh Clark

In [184]:
full_name('Josh')

Josh

In [186]:
def sum_nums(a,b):
    return sum((a,b))

sum_nums(10,15)

25

In [188]:
sum_nums(1)

TypeError: sum_nums() missing 1 required positional argument: 'b'

In [194]:
def sum_nums(*n):
    return sum(n) * 0.1

sum_nums(10,15)

2.5

In [196]:

sum_nums(10)

1.0

In [195]:
sum_nums(10,20,19,3)

5.2

In [211]:
def my_kids(child1, child2, child3):
    print('my first child ' + child1 + ', my second child ' + child2 + ', my third child ' + child3)

In [212]:
my_kids('Larkin', 'Lincoln', 'Lima')

my first child Larkin, my second child Lincoln, my third child Lima

In [213]:
my_kids('Lima', 'Lincoln', 'Lima')

my first child Lima, my second child Lincoln, my third child Lima

In [214]:
#this puts the list in order
my_kids(child2 = 'Lincoln', child1 = 'Larkin', child3 = 'Lima')

my first child Larkin, my second child Lincoln, my third child Lima