# Carter Minter
## Week 3 - 04/02/2021
### Python Lists

In [1]:
# list is ordered which means its indexed 0,1,2,...

In [2]:
my_list = [50,89,90,100,88]

In [3]:
my_list

[50, 89, 90, 100, 88]

In [4]:
my_list = [50,89,90,'Curley','Moe','Harry']

In [5]:
my_list

[50, 89, 90, 'Curley', 'Moe', 'Harry']

In [6]:
len(my_list)

6

In [7]:
fruits = ['Apple', 'Banana', 'Cherry', 'Mango']

In [8]:
fruits

['Apple', 'Banana', 'Cherry', 'Mango']

In [9]:
# pulling from list at spot aka index zero
fruits [0]

'Apple'

In [10]:
fruits[1]

'Banana'

In [12]:
# indexes from the back
fruits[-1]

'Mango'

In [13]:
my_list

[50, 89, 90, 'Curley', 'Moe', 'Harry']

In [14]:
my_list[3]

'Curley'

In [15]:
my_list[2]

90

In [17]:
#if you want to start at an index and pull everything
my_list[1:]

[89, 90, 'Curley', 'Moe', 'Harry']

In [18]:
#we call this slicing
# the above example reads as "my list sliced at index one to the end"

In [19]:
# from beginning to index 3, but not including index 3 
my_list[:3]

[50, 89, 90]

In [20]:
# from beginning to index 2
fruits[:2]

['Apple', 'Banana']

In [21]:
fruits[1:4]

['Banana', 'Cherry', 'Mango']

In [22]:
fruits[1:3]

['Banana', 'Cherry']

In [23]:
fruits

['Apple', 'Banana', 'Cherry', 'Mango']

In [24]:
fruits[-3:-1]

['Banana', 'Cherry']

In [25]:
fruits

['Apple', 'Banana', 'Cherry', 'Mango']

In [27]:
#how to add another item
fruits + ['Orange']

['Apple', 'Banana', 'Cherry', 'Mango', 'Orange']

In [28]:
#notice it doesnt change the original list unless you assign it 
fruits

['Apple', 'Banana', 'Cherry', 'Mango']

In [29]:
fruits = fruits + ['Orange']

In [30]:
fruits

['Apple', 'Banana', 'Cherry', 'Mango', 'Orange']

In [31]:
fruits[1] = 'Grape'

In [32]:
fruits

['Apple', 'Grape', 'Cherry', 'Mango', 'Orange']

In [33]:
# how to double the list
my_list * 2

[50, 89, 90, 'Curley', 'Moe', 'Harry', 50, 89, 90, 'Curley', 'Moe', 'Harry']

In [34]:
my_list

[50, 89, 90, 'Curley', 'Moe', 'Harry']

In [35]:
 fruits.append('banana')

In [36]:
fruits

['Apple', 'Grape', 'Cherry', 'Mango', 'Orange', 'banana']

In [38]:
#remove and element from the list
# REMEMBER TO HIT TAB TO FIND BUILT IN FEATURES
fruits.pop(0)

'Apple'

In [39]:
fruits

['Grape', 'Cherry', 'Mango', 'Orange', 'banana']

In [40]:
fruits.pop()

'banana'

In [41]:
#Hit shift tab to find more information on lines of code

In [42]:
fruits[8]

IndexError: list index out of range

In [44]:
len(fruits)

4

In [45]:
ch_list = ['a','c','r','p','z']

In [46]:
ch_list.sort()

In [48]:
#THE LIST HAS been sorted by alphabetical order
ch_list

['a', 'c', 'p', 'r', 'z']

In [49]:
ch_list.reverse()

In [50]:
ch_list

['z', 'r', 'p', 'c', 'a']

In [51]:
list1 = [90,80,70]
list2 = [60,50,40]
list3 = [40,30,20]

In [52]:
list1

[90, 80, 70]

In [53]:
list2

[60, 50, 40]

In [54]:
list3

[40, 30, 20]

In [55]:
#Nested list and matrix are the same terms
nested_list = [list1, list2, list3]

In [56]:
nested_list

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [57]:
nested_list[0]

[90, 80, 70]

In [58]:
nested_list[2]

[40, 30, 20]

In [59]:
nested_list[-1]

[40, 30, 20]

In [60]:
#Bc python treats eveything like an object, you simply need a double indexing to get individual elements
nested_list[0][0]

90

In [63]:
#Excercise pull the number 50
# Its in 2nd list, so 1 index
# Its in 2nd order, so 1 index
nested_list[1][1]

50

In [64]:
#success