# Carter Minter
## Week 9 - 03/16/2021
### Python - Lambda Function

In [1]:
def double(num):
    return num *2

print(double(3))

6

In [2]:
def square(x):
    return x ** 2
square(5)

25

In [3]:
'''
lambda arguments: expression
'''

double = lambda x:x*2
print(double(9))

18

In [4]:
 #find a number using a lambda function 
    
larger = lambda a,b: a if a > b else b

print(larger(98,99))

99

In [6]:
# higher-order functions, such as map(), filter(), sort(), etc

number_list = [1,2,3,4,5,6,7,8,9,10]
map(square,number_list)

In [8]:
my_list = list(map(square, number_list))

In [9]:
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
for item in map(square,number_list):
    print(item)

1
4
9
16
25
36
49
64
81
100

In [14]:
def evenwords(w):
    if len(w)%2 == 0:
        return "Even"
    else:
        return w[0:2]
    
evenwords("Dodge")

'Do'

In [15]:
words = ['Ford', 'Chevy', 'Toyota', 'Nissan', 'BMW']
list(map(evenwords, words))

['Even', 'Ch', 'Even', 'Even', 'BM']

In [16]:
list(map(lambda x:x**2, number_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
number_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list(map(lambda w:w[0], words))

['F', 'C', 'T', 'N', 'B']

In [20]:
list(map(lambda w:w[::-1], words))

['droF', 'yvehC', 'atoyoT', 'nassiN', 'WMB']

In [21]:
def even(num):
    return num %2 == 0
even(5)

False

In [22]:
even(61)

False

In [23]:
even(66)

True

In [24]:
number_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
filter(even,number_list)

In [26]:
list(filter(even,number_list))

[2, 4, 6, 8, 10]

In [27]:
list(filter(lambda x:x %2 ==0, number_list))

[2, 4, 6, 8, 10]

In [28]:
list(map(lambda x:x %2 ==0, number_list))

[False, True, False, True, False, True, False, True, False, True]

In [29]:
# lambda with sort 
names = ['Alan', 'Bob', 'Greg', 'Sam', 'Alicia', 'Zuko', 'Wiley', 'Carson', 'Roberta']
names.sort()

In [30]:
names

['Alan', 'Alicia', 'Bob', 'Carson', 'Greg', 'Roberta', 'Sam', 'Wiley', 'Zuko']

In [31]:
# change the key to sort basd on the length of the name 
names.sort(key = lambda n:len(n))

In [32]:
names

['Bob', 'Sam', 'Alan', 'Greg', 'Zuko', 'Wiley', 'Alicia', 'Carson', 'Roberta']